<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
 

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

 h1 {
    font-size: 3.125rem;
    color: var(--gray-900);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 20px;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }

    .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
    background-color:beige
  }

 h3 {
    font-size: 1.5rem;
    color: var(--gray-800);
    font-weight: 500;
    margin-bottom: 1rem;
  } 

</style>

<div class="container">
  <h1>Working with Reactive Forms</h1>
  <h3>Ingresa el producto:</h3>
  <div class="content">
    
    <br>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <fieldset>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required formControlName="title">
        
        <label for="price">Price:</label>
        <input type="text" id="price" name="price" required formControlName="price">
      </fieldset>
      <fieldset>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required formControlName="description">
      </fieldset>
     <fieldset>
        <label for="categoryId"> Category: </label>
        <select id="categoryId" name="categoryId" formControlName="categoryId" required>
          <option value="" disabled selected>Select a category</option>
            @for (category of categories; track category.id) {
              <option [value]="category.id">{{ category.name }}</option>
            }
        </select>
    </fieldset>
    <fieldset>
        <label for="apiCategoryId">API Category:</label>
            <select id="apiCategoryId" formControlName="apiCategoryId" required>
            <option value="" disabled selected>Select an API category</option>
            @for (cat of apiCategories; track cat.id) {
            <option [value]="cat.id">{{ cat.name }}</option>
        }
          </select>
    </fieldset>
    <button type="submit" [disabled]="!productForm.valid">Guardar</button>
    </form>
  
  </div>
</div>