<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

 h1 {
    font-size: 3.125rem;
    color: var(--gray-900);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 20px;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }

    .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
  }

 h3 {
    font-size: 1.5rem;
    color: var(--gray-800);
    font-weight: 500;
    margin-bottom: 1rem;
  } 

</style>

<div class="container">
  <h1>Working with Reactive Forms</h1>
  <h3>Ingresa tus datos:</h3>
  <div class="content">
    
    <br>
    <form [formGroup] = "productForm" (ngSubmit)="onSubmit()" >
      <fieldset>
        <label for="name">Title:</label>
        <input type="text" id="title" name="title" required>
        
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" required>
      </fieldset>
      <fieldset>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required>
      </fieldset>
      <fieldset>
        <label for="categoryId"> Category: </label>
        <input type="number" id="categoryId" name="categoryId" required>  
      </fieldset>
      <button type="submit">Submit</button>
    </form>
  
  </div>
</div>